/*Dark Mode Color Scheme*/

:root {
  --bg-color: rgba(18, 18, 18, 1); /*#121212 with solid opacity*/
  --accent-color: rgba(
    95,
    184,
    255
  ); /*#5fb8ff, #0099ff equivalent with a tonal value of 300*/
  --heading-color: rgba(255, 255, 255, 0.9); /*#ffffff with 90% opacity*/
  --font-color: rgba(255, 255, 255, 0.87); /*#ffffff with 87% opacity*/
  --secondary-font-color: rgba(
    219,
    219,
    219,
    0.87
  ); /*#dbdbdb, #5c5c5c equivalent with a tonal value of 300 at 87% opacity*/
}

/*img:not([src*=".svg"]) {
  filter: grayscale(10%);
}*/

.carousel-button-left img,
.carousel-button-right img {
  -webkit-filter: invert(100%); /*safari 6.0 - 9.0*/
  filter: invert(100%);
}
