/*Color Scheme*/
/*
  The page supports both dark and light color schemes,
  and the page author prefers light.
*/
:root {
  color-scheme: light dark;
}

/*General Appearance*/
html {
  scroll-behavior: smooth;
  height: 100%;
}
body {
  background-color: var(--bg-color);
  color: var(--font-color);
  margin: 60px auto;
  width: 70%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  --duration: 0.5s;
  --timing: ease;
  transition: color var(--duration) var(--timing),
    background-color var(--duration) var(--timing);
}

html,
body {
  text-rendering: optimizeLegibility;
  text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.1);
}

@media only screen and (max-width: 600px) {
  body {
    width: 86%;
  }
}

@media screen and (min-width: 500px) {
  nav ul {
    font-family: "Roboto", sans-serif;
    padding: 0;
    list-style: none;
    font-weight: bold;
  }
}
@media screen and (max-width: 500px) {
  nav ul {
    display: flex;
    font-family: "Roboto", sans-serif;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    font-weight: bold;
    justify-content: space-around;
  }
}
footer ul {
  font-family: "Roboto", sans-serif;
  padding: 0;
  list-style: none;
  font-weight: bold;
}
nav ul li,
footer ul li {
  display: inline-block;
  margin-right: 20px;
}
nav a,
footer a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: var(--accent-color);
}
nav a:visited,
footer a:visited {
  color: var(--accent-color);
}
a {
  text-decoration: none;
  font-family: "Nunito", sans-serif;
  color: var(--accent-color);
}
a:hover {
  text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  font-family: "Roboto", sans-serif;
}
p,
em,
span {
  color: var(--font-color);
  font-family: "Nunito", sans-serif;
  line-height: 1.5;
}
.head-space {
  margin-top: calc(3% + 40px);
}
footer {
  /*margin-top:calc(3% + 40px);*/
  margin-top: auto;
  border-top: 1px solid #d5d5d5;
  font-size: 0.8em;
}
.copyright {
  display: flex;
  position: relative;
  float: right;
  font-family: "Roboto", sans-serif;
  font-size: 0.99em;
  line-height: 1.25;
}

ul.posts {
  margin: 20px auto 40px;
  padding-inline-start: 0px;
}

ul.posts li {
  list-style: none;
}

ul.posts a {
  font-weight: 700;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: var(--accent-color);
  font-size: 1.8rem;
  margin-bottom: 0;
}
ul.posts p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0.9rem;
}

@media screen and (max-width: 500px) {
  ul.posts a {
    font-weight: 600;
    font-size: 1.4rem;
  }
  ul.posts p {
    font-size: 0.85rem;
  }
}

.blog-title {
  font-size: 2.25em;
  margin-bottom: 0;
}
.blog-meta {
  font-size: 0.9rem;
  color: var(--secondary-font-color);
  font-weight: bold;
  margin-top: 0;
}
@media screen and (max-width: 500px) {
  .blog-title {
    font-size: 1.75em;
  }
}
.post-categories {
  font-size: 0.9rem;
  font-weight: bold;
  margin-top: 0;
}

/*Theme Toggle Switch*/

.theme-switch-wrapper {
  display: flex;
  position: relative;
  float: right;
}
.theme-switch {
  display: inline-block;
  height: 17px;
  position: relative;
  width: 30px;
}

@media screen and (max-width: 500px) {
  .theme-switch {
    width: 30px;
  } /* 44px if not hiding text label */
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}
.slider:before {
  background-color: #fff;
  bottom: 2px;
  content: "";
  height: 13px;
  left: 2px;
  position: absolute;
  transition: 0.4s;
  width: 13px;
}

input:checked + .slider {
  background-color: var(--accent-color);
}
input:checked + .slider:before {
  transform: translateX(13px);
}
.slider.round {
  border-radius: 17px;
}
.slider.round:before {
  border-radius: 50%;
}

/*Home*/

.circle-avatar {
  border-radius: 50%;
  /*box-shadow: 0.5px 0.5px 1px var(--secondary-font-color);*/
  display: block;
  width: 80%;
  min-width: 200px;
  max-width: 320px; /*actual image width is 400px*/
  height: auto;
  margin: auto;
  justify-content: space-around;
}
.landing {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: space-around;
}

.name {
  font-size: 3rem;
}
.landing p.lead {
  line-height: 25px;
  font-weight: 600;
}
.landing p {
  line-height: 20px;
}

.column {
  flex: 50%;
  min-width: 40ch;
  max-width: 50%;
  margin: auto;
  position: relative;
}
/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media only screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
  .name {
    font-size: 2.5rem;
  }
}

/*About*/

.experience {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: space-around;
}
@media only screen and (max-width: 600px) {
  .experience {
    width: 100%;
  }
}
.experience b.title {
  color: var(--heading-color);
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  margin-bottom: 0;
}
.experience p.lead {
  font-size: 0.95rem;
}
.experience p {
  line-height: 1rem;
  margin-top: 0;
}

.xpcol:nth-of-type(1) {
  flex: 80%;
  min-width: 1ch;
  margin: auto;
  position: relative;
}
.xpcol:nth-of-type(2) {
  flex: 20%;
  min-width: 1ch;
  margin: auto;
  position: relative;
}

.xpavatar {
  display: block;
  min-width: 25px;
  max-width: 100px; /* actual image width is 100px */
  height: auto;
  margin: auto;
  justify-content: space-around;
}

/*Photos*/

.carousel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
}

.carousel-contents {
  position: relative;
  height: 480px;
  width: 80%;
  margin: 0 auto;
}
.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}
.carousel-track-container {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.carousel-track {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
  transition: transform 250ms ease-in;
}

.carousel-slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.carousel-slide img {
  pointer-events: none;
}

.carousel-button-left img,
.carousel-button-right img {
  width: 25px;
}

.carousel-button-left {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: 0;
  left: -20px;
  cursor: pointer;
}
.carousel-button-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: 0;
  right: -20px;
  cursor: pointer;
}

.carousel-nav {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
.carousel-indicator {
  border: 0;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background: var(--secondary-font-color);
  opacity: 0.4;
  margin: 0 8px;
  cursor: pointer;
  transform: scale(0.7);
}
.carousel-indicator.current-slide {
  background: var(--accent-color);
  opacity: 0.7;
}
@media only screen and (max-width: 600px) {
  .carousel-nav {
    margin-top: -30px;
  }
  .carousel-button-left {
    left: -45px;
  }
  .carousel-button-right {
    right: -45px;
  }
}
@media screen and (min-width: 500px) {
  .carousel-button-left {
    left: -65px;
  }
  .carousel-button-right {
    right: -65px;
  }
}

.is-hidden {
  display: none;
}

/*404*/

.error404 {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  padding-top: 60px;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.error404 h1 {
  font-size: 5.5em;
  text-align: center;
  line-height: 0.8rem;
}

@media only screen and (max-width: 600px) {
  .error404 h1 {
    font-size: 3.5em;
    text-align: justify;
    line-height: 1em;
  }
}
