/*Color Scheme*/

:root {
    --accent-color: rgba(0, 153, 255, 1) ; /*#0099ff with solid opacity*/
    --heading-color: rgba(0, 0, 0, 1); /*#000000 with solid opacity*/
	--font-color: rgba(0, 0, 0, 1); /*#000000 with solid opacity*/
	--secondary-font-color: rgba(92, 92, 92, 0.8); /*#5c5c5c at 80% opacity*/
    --bg-color: #rgba(255, 255, 255, 1); /*solid white #ffffff*/
}
[data-theme="dark"] {
    --accent-color: rgba(95, 184, 255); /*#5fb8ff, #0099ff equivalent with a tonal value of 300*/ 
    --heading-color: rgba(255, 255, 255, 0.9); /*#ffffff with 90% opacity*/
	--font-color: rgba(255, 255, 255, 0.87); /*#ffffff with 87% opacity*/
    --secondary-font-color: rgba(219, 219, 219, 0.87); /*#dbdbdb, #5c5c5c equivalent with a tonal value of 300 at 87% opacity*/
	--bg-color: rgba(18, 18, 18, 1); /*#121212 with solid opacity*/
}

/*General Appearance*/
html {
	scroll-behavior: smooth;
}
body {
    background-color: var(--bg-color);
    color: var(--font-color);
	margin: 60px auto;
    width: 70%;
}

@media only screen and (max-width: 600px) {
	body{ width: 86%; }
}

@media screen and ( min-width: 500px ) {
	nav ul {
		font-family: 'Roboto', sans-serif;
		padding: 0;
		list-style: none;
		font-weight: bold;
	}
}
@media screen and ( max-width: 500px ) {
	nav ul {
		display: flex;
		font-family: 'Roboto', sans-serif;
		margin:0 auto;
		padding: 0;
		list-style: none;
		font-weight: bold;
		justify-content: space-around;
	}
}
footer ul {
	font-family: 'Roboto', sans-serif;
	padding: 0;
	list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline-block;
    margin-right: 20px;
}
a {
    text-decoration: none;
	font-family: 'Roboto', sans-serif;
    color: var(--accent-color);
}
a:hover {
    text-decoration: underline;
}
h1, h2, h3, h4, h5, h6 {
    color: var(--heading-color);
    font-family: 'Roboto', sans-serif;
}
p, em, span {
    color: var(--font-color);
    font-family: 'Nunito', sans-serif;
	line-height: 1.5;
}
.head-space {
	margin-top: calc(3% + 40px);
}
footer {
	margin-top:calc(3% + 40px);
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
.copyright {
  display: flex;
  position: relative;
  float: right;
  font-family: 'Roboto', sans-serif;
  font-size: 0.99em;
  line-height: 1.25;
}
/* might not be needed
ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
*/
.blog-meta {
  color: var(--secondary-font-color);
  font-weight: bold;
}


/*Theme Toggle Switch*/

.theme-switch-wrapper {
  display: flex;
  position: relative;
  float: right;
}
.theme-switch {
  display: inline-block;
  height: 17px;
  position: relative;
  width: 30px;
}

@media screen and ( max-width: 500px ) {
	.theme-switch {width: 30px;} /* 44px if not hiding text label */
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 2px;
  content: "";
  height: 13px;
  left: 2px;
  position: absolute;
  transition: .4s;
  width: 13px;
}

input:checked + .slider {
  background-color: var(--accent-color);
}

input:checked + .slider:before {
  transform: translateX(13px);
}

.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}

/*Home*/

.circle-avatar {
  border-radius: 50%;
  /*box-shadow: 0.5px 0.5px 1px var(--secondary-font-color);*/
  display: block;
  width: 80%;
  min-width: 200px;
  max-width: 320px; /*actual image width is 400px*/
  height: auto; /* maintain aspect ratio*/
  margin: auto; /*centering of image*/
  justify-content: space-around;
}
.landing {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: space-around;
}

.landing  p.lead { line-height: 25px; }
.landing  p { line-height: 20px; }

.column {
  flex: 50%;
  min-width: 40ch;
  max-width: 50%;
  margin: auto;
  position: relative;
}
/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media only screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

/*404*/
.error404 {
  display: flex;
  flex-wrap: wrap;
  width: 40%;
  padding-top: 60px;
  margin: auto;
  align-items: center;
  justify-content: center;
}