<hr />

<ul>
  <li style="margin-right: 20px">
    <a href="mailto:contact@shivendrashukla.com">Email</a>
  </li>
  <li>
    <a href="https://www.linkedin.com/in/thatshivendrashukla">LinkedIn</a>
  </li>
  <li style="float: right">
    <span class="copyright">&copy; 2020 Shivendra Shukla</span>
  </li>
</ul>

<p class="text-muted" style="font-size: 0.7rem">
  <span style="font-weight: 900">Disclaimer: </span>In adherence to Bar Council
  of India rules, this website does not seek to advertise, nor solicit clients.
  This website, and all content and information (<q>materials</q>) contained
  within it, is a consolidated source of publicly available information,
  ordinarily available on the internet, various public platforms, and social
  media. Any and all materials contained within this website are provided for
  informational purposes only, may be outdated or otherwise incorrect, and shall
  not be construed as legal reference or advice on any matter. Readers are
  advised to not act on any information contained herein, and should refer to
  legal practitioners or experts in their respective jurisdiction for further,
  potentially more accurate information. The use or access of this website/its
  materials does not constitute or create a lawyer-client, or any other
  relationship between myself and you (the user), or any other recipient.
</p>
