<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{ page.description }}">
	<meta name="author" content="Shivendra Shukla">

	<title>{{ page.title }}</title>
	
	<!-- link to fonts -->
	<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;1,400&family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
	<!-- link to main stylesheet -->
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<!-- favicons-->
	{% include favicons.html %}
	<!--google analytics tracking code-->
	{% include analytics.html %}
</head>