//Custom Variables -> bootstrap/_variables.scss
//Called in main.scss

//Colours
// Color system

$white: #fff !default;
$black: #000 !default;

$blue: #0099ff;

$primary: $blue !default;

$navbar-light-hover-color: rgba($blue, 0.9);
$navbar-light-active-color: rgba($blue, 0.9);
