---
---

@import "_customVariables";
@import "bootstrap/bootstrap";

//NOTE: Global Custom Variables are defined in _customVariables.scss

//COLOUR SCHEME

//GENERAL APPEARANCE AND BEHAVIOUR

html,
body {
  text-rendering: optimizeLegibility;
  text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.1);
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

#bodyContainer {
  padding: 0;
}

//Header and Navigation

.head-space-nav {
  margin-top: calc(3% + 10px);
}

.head-space {
  margin-top: calc(3% + 30px);
}

/* .navbar-nav {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
} */

//old nav
@media screen and (min-width: map-get($grid-breakpoints, "sm")) {
  nav ul {
    font-family: "Roboto", sans-serif;
    padding: 0;
    list-style: none;
    font-weight: bold;
  }
}
@media screen and (max-width: map-get($grid-breakpoints, "sm")) {
  nav ul {
    display: flex;
    font-family: "Roboto", sans-serif;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    font-weight: bold;
    justify-content: space-around;
  }
}

nav ul li {
  display: inline-block;
}

//Footer

.footer {
  margin-top: auto;
  padding-top: 1rem;
  font-size: 0.9rem;
}
footer ul {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  padding-bottom: 0.5rem;
}
footer ul li {
  display: inline;
}

.copyright {
  font-family: "Roboto", sans-serif;
}

//Headings

h1,
h2,
h3,
h4,
h5,
h6 {
  /*$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
"Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;*/

  font-family: "Roboto", sans-serif;
  //color:
}

//Links
a {
  // Style anchor elements.
  font-family: "Nunito", sans-serif;
  text-decoration: none;
  color: $blue;
}
a:hover {
  text-decoration: underline;
  color: $blue;
}
nav a,
footer a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: $blue;
}
nav a:visited,
footer a:visited {
  color: $blue;
}

//Text
p,
span,
em {
  /*$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
"Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;*/

  font-family: "Nunito", sans-serif;

  // Style p element.

  $paragraph-margin-bottom: 1rem !default;
}

//Page Specific Styles

//HOME

#landingHero {
  #name {
    font-size: 3rem;
  }
  p.lead {
    line-height: 25px;
    font-weight: 600;
  }
  p {
    line-height: 20px;
  }
  .col-sm {
    min-width: 40ch;
    max-width: 50%;
    margin: auto;
  }
}

#profileHero {
  border-radius: 50%;
  /*box-shadow: 0.5px 0.5px 1px var(--secondary-font-color);*/
  display: block;
  width: 80%;
  min-width: 200px;
  max-width: 250px; /*actual image width is 400px*/
  height: auto;
  margin: auto;
  justify-content: space-around;
}

//ABOUT

.experience b.title {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  margin-bottom: 0;
}
.experience p.lead {
  font-size: 0.95rem;
}
.experience p {
  line-height: 1rem;
  margin-top: 0;
}

//BLOG
ul.posts {
  margin: 20px auto 40px;
  padding-inline-start: 0px;
}

ul.posts li {
  list-style: none;
}

ul.posts a {
  font-weight: 700;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: $blue;
  font-size: 1.8rem;
  margin-bottom: 0;
}
ul.posts p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0.9rem;
}

@media screen and (max-width: map-get($grid-breakpoints, "sm")) {
  ul.posts a {
    font-weight: 600;
    font-size: 1.4rem;
  }
  ul.posts p {
    font-size: 0.85rem;
  }
}

//BLOG-POST
.blog-title {
  font-size: 2.25em;
  margin-bottom: 0;
}
.blog-meta {
  font-size: 0.9rem;
  color: $secondary;
  font-weight: bold;
  margin-top: 0;
}
@media screen and (max-width: map-get($grid-breakpoints, "sm")) {
  .blog-title {
    font-size: 1.75em;
  }
}
.post-categories {
  font-size: 0.9rem;
  font-weight: bold;
  margin-top: 0;
}

//BLOG-CATEGORIES

//PHOTOS

//404

.error404 {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  padding-top: 60px;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.error404 h1 {
  font-size: 5.5em;
  text-align: center;
  line-height: 0.8rem;
}

@media only screen and (max-width: map-get($grid-breakpoints, "sm")) {
  .error404 h1 {
    font-size: 3.5em;
    text-align: justify;
    line-height: 1em;
  }
}
