<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<!-- link to various favicons -->
			{% include favicons.html %}
			{% include ga.html %}
			
		</head>
		<body>
			<nav>
			<div class="theme-switch-wrapper"><label class="theme-switch" for="checkbox"><input type="checkbox" id="checkbox" /><div class="slider round"></div></label><em style="margin-left: 10px; font-size: 1rem; font-family:'Helvetica', 'Arial', 'Sans-Serif'">Dark Mode</em>{% include darkmode.html %}</div>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
					<li><a href="/photos">Photos</a></li>
	        		<li><a href="/cv">CV</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:"></a></li>
	        		<li><a href="https://www.linkedin.com/in/thatshivendrashukla/">LinkedIn</a></li>
				</ul>
			</footer>
		</body>
	</html>
